body {
    font-family: "Hanken Grotesk", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .conteiner {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #7755ff 0%, #6943ff 0.01%, #2f2ce9 100%);
    box-shadow: 0px 30px 60px 0px #3d6cec26;
    font-size: 16px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
  .your-result {
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1.3em;
    text-align: center;
    color: #cac9ff;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .circle {
    background: linear-gradient(
      180deg,
      #4d21c9 0%,
      rgba(37, 33, 201, 0) 100%,
      rgba(37, 33, 201, 0) 100%
    );
    height: 140px;
    width: 140px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .result {
    font-size: 3.5em;
    font-weight: 800;
    line-height: 72px;
    text-align: center;
    color: #ffffff;
  }
  .max-result {
    font-size: 1em;
    font-weight: 700;
    line-height: 1.3em;
    opacity: 51.68%;
    color: #cac9ff;
  }
  
  .great {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.3em;
    text-align: center;
    color: #ffffff;
    padding-top: 24px;
    padding-bottom: 8px;
  }
  
  .description {
    font-size: 1em;
    font-weight: 500;
    line-height: 1.31em;
    text-align: center;
    color: #cac9ff;
    max-width: 260px;
    padding-bottom: 40px;
  }
  
  section {
    padding: 30px;
  }
  
  h2 {
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.23em;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 1.5em;
    color: rgba(48, 59, 89, 1);
  }
  .card-conteiner {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .card {
    height: 56px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: Center;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
  }
  .first-part {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon {
    width: 32px;
  }
  
  .second-part {
    display: flex;
  }
  .counter {
    font-weight: 700;
    line-height: 1.3em;
    color: rgba(48, 59, 89, 1);
    padding-right: 8px;
  }
  
  .max {
    font-weight: 700;
    line-height: 1.3em;
    color: rgba(48, 59, 89, 1);
    opacity: 0.5;
  }
  
  button {
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    height: 56px;
    width: 315px;
    border-radius: 128px;
    background: rgba(48, 59, 89, 1);
    color: rgba(255, 255, 255, 1);
    border: 0px;
    padding: 0px;
    margin-top: 24px;
    cursor: pointer;
  }
  @media screen and (min-width: 1440px) {
    body {
      background: rgba(236, 242, 255, 1);
    }
    .conteiner {
      display: flex;
      height: 512px;
      width: 736px;
      border-radius: 32px;
    }
    main {
      border-radius: 32px;
      width: 50%;
      font-size: 18px;
    }
    section {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      padding: 0px;
    }
    .your-result {
      font-size: 24px;
    }
  
    .circle {
      height: 200px;
      width: 200px;
    }
  
    .result {
      font-size: 4em;
    }
    .great {
      font-size: 1.7em;
    }
    .card {
      width: 256px;
    }
    button {
      width: 288px;
      background: linear-gradient(
        180deg,
        #7755ff 0%,
        #6943ff 0.01%,
        #2f2ce9 100%
      );
      margin-top: 41px;
    }
  }
  